# this is a comment
snippet asciidoc adoc-snippet
	asciidoc!

snippet protocol
	= Protokoll Gruppe 01

	Treffen am ${1:$(date +%d.%m.%Y)}

	Ort:      ${2:Ort des Treffens} +
	Beginn:   ${3:$(date +%H:%M)} Uhr +
	Ende:     xx:xx Uhr

	__Schriftführer:__ Anton

	*Nächstes Treffen:* +
	${4:$(date -d 'next Monday' +%d.%m.%Y)}, 14:50 Uhr, APB

